<div class="container">
	<center>
		<h1>Contact <%= @company.user.name %></h1>
	</center>
	<br>
	<hr>
	<h2>Headquarters</h2>
	<%= @company.headquarters %>
	<hr>
	<h2>Email</h2>
	<%= @company.user.email %>
	<hr>
	<h2>Phone</h2>
	<%= @company.phone %>
	<hr>
</div>